<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>
                {{ todo_details.name }}
            </h1>
            <div>
                <p>
                    <a href="{% url 'todo_list_update' todo_details.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_details.id %}">Delete</a>
                </p>
            </div>
           
            <h2>
                Tasks
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for task_item in todo_details.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_list' %}">{{ task_item.task }}</a>
                        </td>
                        <td>
                            {{ task_item.due_date|date:"M. j, Y" }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>



            </table>
        </div>
    </main>

</body>
</html>
